@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

:root {
  --background: #f4f6f9;
  --background-secondary: #cfcfcf;
  --color: #111625;
  --color-secondary: #68768a;
  --accent: #00c2ff;
  --accent-secondary: #e6007a;
  --bg-btns: linear-gradient(135deg, #bd00ff 0%, #00f0ff 100%);
  --bg-btns-secondary: linear-gradient(135deg, #7c3aed, #06b6d4, #10b981);
  --font-family: "Inter", sans-serif;
  --card-bg: #f1d7e7;
}

body {
  margin: 0 auto;
  background-color: var(--background);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  color: var(--color);
  font-family: var(--font-family);
}

main {
  margin: 0 auto;
  flex: 1;
  max-width: 1200px;
}

.nav-bar {
  padding: 15px;
  color: var(--color);
  background: var(--background-secondary);

  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  margin: 0;
  padding: 0;

  .nav-link:hover {
    color: var(--accent-secondary);
  }
}

.header-logo {
  width: 110px;
  border-radius: 15px;
  padding: 5px;
}

.hero-carousel {
  margin-bottom: 30px;
  width: 100%;
}

.hero-img {
  width: 100%;
}

.button-search {
  background: var(--bg-btns);
  color: var(--color);
}

.hero-carousel {
  position: relative;
  width: 85%;
  overflow: hidden;
  margin: 0 auto;
}

.hero-video {
  width: 85%;
  margin: 0 auto;
  margin-top: 30px;
}

.carousel-phrase {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--background);
  border-radius: 12px;
  max-width: 500px;
  width: auto;
  font-weight: 600;
  font-size: 22px;
  background-color: #1b1818a2;
  padding: 15px;
  text-align: center;
}

.title {
  text-align: center;
  margin: 30px 0;

  h1 {
    font-weight: 700;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  .prev {
    color: var(--accent);
  }

  .after {
    color: var(--accent-secondary);
  }
}

#hero {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: var(--color);
  font-size: 20px;
}

.prod {
  .section-title {
    text-align: center;
    color: var(--color);
    font-size: 35px;
    margin-top: 20px;
  }

  p {
    font-size: 18px;
  }
}

.serv {
  .serv-title {
    text-align: center;
    font-size: 35px;
    color: var(--color);
    margin-top: 20px;
  }

  p {
    font-size: 18px;
  }
}

.cart {
  margin: 10px;
  width: 30px;
  text-decoration: none;
}

.img-profile {
  width: 50px;
  background: var(--bg-btns);
}

.drop-container {
  color: var(--color);

  #drop-check {
    display: none;
  }

  #drop-check:checked + .menu-container {
    height: 200px;
    max-height: 200px;
    padding: 10px;
  }
}

/* &:hover .menu-container {
    height: 200px;
    max-height: 200px;
    padding: 10px;
  }*/

.menu-container {
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--bg-btns-secondary);
  height: 0;
  overflow: hidden;
  transition: 0.3s ease;

  .drop-menu {
    list-style: none;
    padding: 0;
  }

  .drop-item {
    padding: 5px 5px;
    transition: 0.3s ease;
  }

  a {
    text-decoration: none;
    color: var(--color);
  }

  a:hover {
    color: var(--accent-secondary);
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: min-content;
  background: var(--card-bg);
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  transition: 0.4s ease;
  margin: 20px;
  border: 1px solid transparent;
}

.card:hover {
  transform: scale(1.05);
  background-color: var(--background-secondary);
  border-color: #bb00ff !important;
  box-shadow:
    0 0 25px rgba(187, 0, 255, 0.6),
    0 0 50px rgba(0, 221, 235, 0.4) !important;
}

.card .card-image img {
  width: 100%;
}

.card .card-image {
  position: relative;
  width: 230px;
  height: 250px;
  padding: 0 20px;
  text-align: center;
  border-radius: 12px;
  background-color: #fff;
  transition: 0.4s ease;
}

.card:hover .card-image {
  transform: scale(1.02) rotate(-3deg) translateX(-5px);
}

.card .card-image .bx-star {
  cursor: pointer;
  position: absolute;
  bottom: 12px;
  right: 12px;
  padding: 10px;
  font-size: 20px;
  background-color: var(--background);
  color: #8a8f98;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.card .card-content {
  h3 {
    color: var(--color);
    font-size: 22px;
    margin-top: 20px;
  }

  p {
    color: var(--color-secondary);
    margin: 8px 0 22px;
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
  }

  button {
    cursor: pointer;
    color: #fff;
    width: 100%;
    height: 50px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 12px;
    background: var(--bg-btns);
  }

  .price {
    font-weight: 650;
    font-size: 22px;
  }
}

.view-more-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  color: #333;
  padding: 12px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  /*estilo para opacidad que este oculto */

  opacity: 0;
  pointer-events: none;
  transition: all 0.3 ease;
}

/* Se muestra con hover */

.card-image:hover .view-more-btn {
  opacity: 1;
  pointer-events: auto;
  transform: 0.4s ease;
}

.view-more-btn {
  color: white;
  background: var(--bg-btns);
}

.serv-container {
  display: flex;
  padding: 15px;
  margin: 15px;
  flex-wrap: wrap;
  justify-content: center;

  .serv {
    margin: 15px;
    padding: 15px;
    width: 250px;

    background: var(--card-bg);
    transition: 0.4s ease;
  }

  .serv:hover {
    transform: scale(1.05);
    border-color: #bb00ff !important;
    box-shadow:
      0 0 25px rgba(187, 0, 255, 0.6),
      0 0 50px rgba(0, 221, 235, 0.4) !important;
  }
}

.button-serv {
  background: var(--bg-btns-secondary);
  color: var(--color);
}

footer {
  background: var(--background-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.derechos {
  justify-content: flex-end;
}

.logo-footer {
  width: 150px;
  margin: 20px;
}

.contact-footer {
  a {
    text-decoration: none;
    justify-content: flex-start;
  }
}

.contact-footer a:hover {
  color: var(--accent-secondary);
}

.social-media {
  a {
    text-decoration: none;
    margin: 0 10px;
  }

  .social-text:hover {
    color: var(--accent);
  }

  .social-icon {
    font-size: 24px;
    padding: 5px;
    align-items: center;
  }
}

.contact-body {
  display: flex;
  justify-content: space-between;
}

.contact-info {
  flex: 1;
}

.contact-header {
  padding: 20px;

  h1,
  h2 {
    font-size: 40px;
    color: var(--color);
    text-align: center;
  }
}

.contact-form {
  border: 1px solid var(--background-secondary);
  margin: 50px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 15px 15px 25px rgba(47, 98, 102, 0.8);
  border: 2px solid var(--accent-secondary);

  input,
  textarea {
    border: 1px solid var(--background-secondary);
    padding: 5px;
    margin: 5px 0;
  }
}

.map {
  flex: 1;
}

.location {
  h2 {
    text-align: center;
    font-size: 30px;
  }
}

.button-contact {
  background: var(--bg-btns-secondary);
  color: var(--color);
  padding: 10px;
  border-radius: 8px;
}

.register-body {
  h1 {
    text-align: center;
    margin-top: 15px;
  }
}

.register-form {
  text-align: center;
}

input,
select {
  padding: 5px;
  border: 2px solid var(--background-secondary);
}

@media (width < 1200px) {
  .search {
    display: none;
  }

  .cart-shop {
    flex-wrap: wrap;
  }
  /* body {
    padding: 30px 0;
  } */

  .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .container .card {
    margin: 20px;
  }

  .contact-body {
    flex-direction: column;
  }
  .map {
    position: relative;
    padding-bottom: 56.25%;
    margin-bottom: 15px;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  footer {
    flex-direction: column;
    text-align: center;
  }
}
@media (width <768px) {
  .search {
    display: none;
  }
  .cart-shop {
    flex-wrap: wrap;
  }
  .location {
    p {
      padding: 10px;
    }
  }

  .nav-bar {
    height: auto;
    padding: 10px;
    top: 0;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }

  .contact-body {
    flex-direction: column;
  }
  .map {
    position: relative;
    padding-bottom: 56.25%;
    margin-bottom: 15px;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .register-body {
    h1 {
      margin-top: 15px;
    }

    p {
      padding: 10px;
    }
  }
}

@media (width < 478px) {
  .hero-video {
    display: none;
  }

  #hero {
    font-size: 16px;
    display: flex;
    flex-direction: column;
  }

  .carousel-phrase {
    display: none;
  }

  .cart-shop {
    flex-wrap: wrap;
  }

  .search {
    display: none;
  }
}

.product-layout {
  display: flex;
  justify-content: space-between;
}

.marcas {
  display: flex;
  flex-direction: column;

  h5 {
    text-align: center;
  }
}

.filter-bar {
  border: 1px solid var(--background-secondary);
  padding: 5px;
  height: auto;
  width: 280px;

 
}
